.r-PhotoRoute {
  display: flex;
  column-gap: 2rem;
  width: 100%;

  &__all-photos {
    width: max(20rem, 20vw);
    height: max(30rem, 75vh);
    border-right: 1px solid #ccc;
    overflow-y: scroll;
    & .c-Gallery {
      column-count: 2;
    }
  }

  &__photo-container {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    &__photo {
      display: flex;
      justify-content: center;
      height: 90%;
      width: 100%;
      img {
        max-width: 100%;
        height: 100%;
      }
    }
}